---
layout: default
title: Home
---

{% for post in site.posts limit:10%}

<div class="animated fadeInRight">

  <div class="content-grid-info">
		 <div class="post-intro">
        <h4><a href="{{ post.url | prepend: site.baseurl }}"> {{ post.title }} </a>
           <i class="fa fa-clock-o"></i> {{ post.date | date: "%-d %b %Y" }}
           <i class="fa fa-user"></i> {{ post.author }}
        </h4>
		    <p>{% if post.desc.size > 0 %}
                {{ post.desc }}
            {% else %}
                {{ post.excerpt | strip_html | xml_escape | truncatewords: 50 }}
            {% endif %}</p>
		    <a href="{{ post.url | prepend: site.baseurl }}"><span></span>READ MORE</a>
		 </div>
	 </div>

</div>
{% endfor %}
<br>
