<div class="navbar">
  <ul>
    <li {% if page.title == "Home" %} class="active" {% endif %} ><a href="{{ site.baseurl }}/index.html">Home</a></li>
    <li {% if page.title == "Post" %} class="active" {% endif %} ><a href="{{ site.baseurl }}">Posts</a></li>
    <li {% if page.title == "Author" %} class="active" {% endif %} ><a href="{{ site.baseurl }}/authors.html">Authors</a></li>
    <li {% if page.title == "About Us" %} class="active" {% endif %} ><a href="{{ site.baseurl }}/about.html">About us</a></li>
  </ul>
</div>
