html,body{
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #ffffff;
}

div{
  display: block;
}

img{
  max-width: 100%;
}

ul{
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li{
  display:inline-block !important;
  padding: 5px 13px ;
}

.navbar li a{
  font: 400 21px/1.8 Lato, sans-serif;
  color: #3bcce4;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
